#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  min-width: 300px;

}
.form--text {
  margin-right: 10px;
  min-width: 200px;
  text-indent: 10px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top:16px;
}
.list--item {
  width: 280px;
  border-radius: 10px;
  background: white;
  color: black;
  box-shadow: -3px 3px 10px 1px rgba(0,0,0,0.2);
  line-height: 32px;
  text-align:left;
  padding: 10px;
  position: relative;
  word-wrap: break-word;
  /* display: flex; */
}
.list--item--button {
  display: flex;
  float: right;
}
.list--item:hover .list--item--delete,
.list--item:hover .list--item--edit {
  display: inline-block;
  line-height: 32px;
}
.list--item--delete {
  color: red;
  display: none;
  position: relative;
  font-weight: bold;

  cursor: pointer;
  font-size:x-large;
}
.list--item--edit {
  display: none;
  right: 8px;
  position: relative;
  font-size: x-small;
  font-weight: bold;
  cursor: pointer;
}
.list--item--edit--form {
  position: relative;
  margin-top: 10px;
  padding-right: 10px;
  display: flex;
  gap: 20px;
}
.list--item--edit--input {
  width: 100%;
}
.list--item--edit--submit {
  color: green;
  cursor: pointer;
}
